

<h1>Welcome to Insta Project</h1>

<%= form_tag(images_display_path, method: "get") do %>
  <%= label_tag(:q, "Find me images of #") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("GO!!!") %>
<% end %>
